/* AdminDashboard.css */

.admin-dashboard {
  padding: 8px 8px;
}

.fc {
  max-width: 100%; /* Hace que el calendario ocupe el 100% del ancho disponible */
  /*height: 90vh;  Hace que el calendario ocupe el 80% del alto de la pantalla */
}

.fc-daygrid-day-frame {
  border: 1px solid #000; /* Ajusta el color y grosor del borde */
  margin: 0 !important; /* Elimina cualquier margen entre celdas */
  padding: 0 !important; /* Elimina cualquier padding */
}

.create-project-button {
  border: none;
  border-radius: 50%;
  padding: 2px 8px;
  cursor: pointer;
}

.create-project-button:hover {
  background-color: red;
}

.day-number {
  color: black;
  font-weight: 700;
}

.fc-col-header-cell-cushion {
  color: black;
  font-weight: 800;
}

.fc-event {
  padding: 2px;
  display: flex;
  align-items: center;
}

.fc-daygrid-event {
  min-height: auto;
  word-break: break-word;
  white-space: pre-wrap;
  max-width: 100%;
}

.day-cell {
  position: relative;
}

.event-content {
  padding: 4px;
  border-radius: 4px;
  overflow-wrap: break-word;
}

.event-title {
  font-size: 12px;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.1;
  max-width: 100%;
  color: black;
}

.color-picker {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.color-option {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
}
