/* Home.module.css */
.home {
  position: relative;
  height: 100vh;
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6)
    ),
    url("/assets/fondo-home3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  /* Centra verticalmente el logo y el texto */
  justify-content: space-between; /* Logo a la derecha, texto a la izquierda */
  gap: 10px; /* Espacio entre el logo y el contenedor de texto */
  padding: 30vh 15vw;

  margin-bottom: 10px;
  /* Reducir espaciado superior/inferior para acercar más los elementos */
}

.text-container {
  text-align: left;
  max-width: 60%; /* Limitar el ancho del texto para asegurar buena alineación */
}

.header-title {
  font-size: 2.5em; /* Tamaño del texto ajustado */
  font-weight: 700;
  margin: 0; /* Elimina el margen adicional del encabezado */
  position: relative;
}

.header-title::after {
  content: "";
  display: block;
  width: 100%; /* Hace que la línea abarque todo el texto */
  height: 5px;
  background-color: #ff0000; /* Línea roja debajo del título */
  margin-top: 10px;
}

.info {
  font-size: 1.2em;
  margin-top: 10px; /* Añade un pequeño margen para separar la información del título */
}

.logo1 {
  height: 250px; /* Ajusta el tamaño del logo para que quede mejor alineado con el texto */
  width: auto;
  filter: drop-shadow(
    0 0 10px rgba(255, 255, 255, 0.5)
  ); /* Resaltar el logo con un brillo blanco */
}

.main-content {
  position: relative;
  background-color: #f9f9f9;
  padding: 20px;
  color: #000;
  margin-top: 100px;
}

.section {
  padding: 100px 20px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
  color: #ff6600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
