/* Estilos generales para la barra de navegación */
nav {
  background-color: #333; /* Color de fondo */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Hace que el navbar esté fijo en la parte superior */
  top: 0; /* Posiciona el navbar en la parte superior */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Hace que los elementos se dispongan en una fila */
  justify-content: flex-end; /* Alinea los botones a la derecha */
  width: 100%; /* Ocupa todo el espacio disponible */
}

li {
  margin: 0 15px;
}

link {
  color: white;
}

a {
  text-decoration: none;
  padding: 8px 16px;
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #b11500;
}

a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  ul {
    flex-direction: column;
    display: none;
  }

  ul.active {
    display: flex;
  }

  li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }
}
