.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin-top: 60px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.leftButtons {
  display: flex;
  gap: 10px;
}

.rightButton {
  display: flex;
  justify-content: flex-end;
}

.createButton {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.createButton:hover {
  background-color: #0056b3;
}

.projectTable {
  width: 100%;
  max-width: 2000px;
  margin-top: 20px;
}

.projectTable th,
.projectTable td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  font-size: 16px;
}

.projectTable tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.projectTable th {
  background-color: #343a40;
  color: white;
  cursor: pointer;
}

.projectTable td {
  background-color: white;
}

.searchContainer {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.searchInput {
  padding: 8px;
  font-size: 16px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
